Repository cjinhuo/mono-sdk-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --parser markdown --write, prettier --parser json --write

.lintstagedrc.json:

{
  "*.@(js|ts|tsx)": ["eslint --fix", "prettier --write"],
  "*.@(yml|yaml)": ["prettier --parser yaml --write"],
  "*.md": ["prettier --parser markdown --write"],
  "*.json": ["prettier --parser json --write"]
}

chore(architecture): :hammer: add .lintstagedrc for monorepo
  app/react-18/.lintstagedrc.json
Due: prettier --parser json --write

chore(react-18): :hammer: add
  app/react-18/.lintstagedrc.js
  app/react-18/.lintstagedrc.json
Due: prettier --parser json --write

chore(architecture): :hammer: remove esm
  .gitignore
  package.json
  packages/core/esm/index.d.ts
  packages/core/esm/index.js
  packages/react/esm/index.d.ts
  packages/react/esm/index.js
  packages/shared/esm/index.d.ts
  packages/shared/esm/index.js
  pnpm-lock.yaml
Due: prettier --parser json --write

chore(architecture): :hammer: remove useless code
  app/react-18/package.json
  package.json
  pnpm-lock.yaml
  scripts/bundle.ts
  scripts/constant.ts
  scripts/debug.ts
  scripts/publish.ts
  scripts/verifyCommit.ts
  scripts/version.ts
Due: prettier --parser json --write

test(react): :white_check_mark: refine config for react package
  .eslintignore
  docs/toolkit.md
  package.json
  packages/react/jest.config.cjs
  packages/react/src/__test__/index.spec.ts
  pnpm-lock.yaml
Due: prettier --parser markdown --write, prettier --parser json --write

docs(architecture): :memo: update readme
  README.md
  app/react-18/package.json
  docs/dependence-draw.png
  docs/dependence-graph.jpg
  package.json
  packages/react/package.json
  packages/web/package.json
  utils/eslint-config/index.js
Due: prettier --parser markdown --write, prettier --parser json --write

docs(architecture): :memo: update readme
  README.md
Due: prettier --parser markdown --write

test(e2e): :white_check_mark: add cypress
  e2e/.eslintrc.cjs
  e2e/cypress.config.ts
  e2e/cypress/e2e/mono-core.spec.ts
  e2e/cypress/fixtures/example.json
  e2e/cypress/support/commands.ts
  e2e/cypress/support/e2e.ts
  e2e/demos/react-e2e-demo/.eslintrc.cjs
  e2e/demos/react-e2e-demo/.gitignore
  e2e/demos/react-e2e-demo/index.html
  e2e/demos/react-e2e-demo/package.json
  e2e/demos/react-e2e-demo/public/vite.svg
  e2e/demos/react-e2e-demo/src/App.css
  e2e/demos/react-e2e-demo/src/App.tsx
  e2e/demos/react-e2e-demo/src/assets/react.svg
  e2e/demos/react-e2e-demo/src/components/TestCore.tsx
  e2e/demos/react-e2e-demo/src/index.css
  e2e/demos/react-e2e-demo/src/main.tsx
  e2e/demos/react-e2e-demo/src/vite-env.d.ts
  e2e/demos/react-e2e-demo/tsconfig.json
  e2e/demos/react-e2e-demo/tsconfig.lint.json
  e2e/demos/react-e2e-demo/tsconfig.node.json
  e2e/demos/react-e2e-demo/vite.config.ts
  e2e/package.json
  e2e/tsconfig.json
  e2e/tsconfig.lint.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: prettier --parser json --write

test(e2e): :white_check_mark: coveragin
  e2e/.nyc_output/out.json
  e2e/cypress.config.ts
  e2e/cypress/support/e2e.ts
  e2e/package.json
  pnpm-lock.yaml
Due: prettier --parser json --write

feat(rollup): :sparkles: add dts pkg
  e2e/.nyc_output/out.json
  e2e/cypress/e2e/mono-core.spec.ts
  e2e/demos/react-e2e-demo/package.json
  e2e/demos/react-e2e-demo/vite.config.ts
  packages/core/rollups/esm.rollup.mjs
  packages/react/rollups/esm.rollup.mjs
  packages/web/rollups/esm.rollup.mjs
  pnpm-lock.yaml
  utils/rollup/package.json
  utils/rollup/src/common.js
  utils/rollup/src/dts.js
  utils/rollup/src/index.js
Due: prettier --parser json --write

test(e2e): :white_check_mark: complete the e2e coverage
  e2e/.nyc_output/out.json
  e2e/cypress/e2e/mono-core.spec.ts
  e2e/demos/react-e2e-demo/src/components/TestCore.tsx
  packages/core/package.json
Due: prettier --parser json --write

feat(e2e): :sparkles: add e2e test for cover 100%
  e2e/cypress/e2e/mono-react.spec.ts
Due: none

build(architecture): :package: update pacakge.json
  .lintstagedrc.json
  .prettierignore
  e2e/.eslintrc.cjs
  e2e/demos/react-e2e-demo/.eslintrc.cjs
  package.json
  packages/core/package.json
  packages/shared/package.json
  pnpm-lock.yaml
Due: prettier --parser json --write

style(architecture): :lipstick: add vsc for biome
  biome.json
  packages/core/rollups/cjs.rollup.mjs
  packages/core/rollups/esm.rollup.mjs
  packages/core/rollups/iife.rollup.mjs
  packages/react/rollups/cjs.rollup.mjs
  packages/react/rollups/esm.rollup.mjs
  packages/react/rollups/iife.rollup.mjs
  utils/rollup/src/common.js
Due: prettier --parser json --write

build(architecture): :package: upgrade all of dependences to the latest
  package.json
  packages/core/src/index.ts
  pnpm-lock.yaml
Due: prettier --parser json --write

build(architecture): :package: add nx.json
  .gitignore
  app/react-18/.lintstagedrc.js
  app/react-18/package.json
  app/react-18/src/App.tsx
  app/react-18/tsconfig.json
  app/react-18/tsconfig.node.json
  biome.json
  commitlint.config.js
  nx.json
  packages/react/src/index.ts
  packages/web/rollups/esm.rollup.mjs
  utils/rollup/bin/index.js
  utils/rollup/src/common.js
Due: prettier --parser json --write

style(architecture): :lipstick: add organizeImports.biome
  README.md
  biome.json
  packages/core/rollups/cjs.rollup.mjs
  packages/core/rollups/esm.rollup.mjs
  packages/core/rollups/iife.rollup.mjs
  packages/react/rollups/cjs.rollup.mjs
  packages/react/rollups/esm.rollup.mjs
  packages/react/rollups/iife.rollup.mjs
  packages/web/rollups/cjs.rollup.mjs
  packages/web/rollups/iife.rollup.mjs
  utils/rollup/src/common.js
Due: prettier --parser markdown --write, prettier --parser json --write

build(architecture): :package: add publishConfig into package.json
  README.md
  app/react-18/package.json
  packages/core/package.json
  packages/react/package.json
  packages/react/src/index.ts
  packages/shared/package.json
  packages/web/package.json
Due: prettier --parser markdown --write, prettier --parser json --write

chore(architecture): :hammer: add .vscode folder
  .gitignore
  .vscode/settings.json
Due: prettier --parser json --write

chore(architecture): :hammer: remove redundant file
  .husky/pre-commit
  docs/Inspirations.md
  docs/toolkit.md
Due: prettier --parser markdown --write

chore(architecture): :hammer: update commitlint
  commitlint.config.js
Due: none

feat(architecture): :sparkles: upgrade vite and react version
  app/react-18/vite.config.ts
  app/react-19/.gitignore
  app/react-19/index.html
  app/react-19/package.json
  app/react-19/public/vite.svg
  app/react-19/src/App.css
  app/react-19/src/App.tsx
  app/react-19/src/assets/react.svg
  app/react-19/src/index.css
  app/react-19/src/main.tsx
  app/react-19/src/vite-env.d.ts
  app/react-19/tsconfig.json
  app/react-19/tsconfig.node.json
  app/react-19/vite.config.ts
  package.json
  pnpm-lock.yaml
Due: prettier --parser json --write

chore(architecture): :hammer: update readme
  README.md
  pnpm-lock.yaml
Due: prettier --parser markdown --write

chore(architecture): :hammer: use node_module bin to run biome
  .lintstagedrc.json
Due: prettier --parser json --write

perf(architecture): :zap: upgrade biome to 2.0.6 and uninstall prettier
  .lintstagedrc.json
  .prettierignore
  .prettierrc.js
  .vscode/settings.json
  app/react-19/src/App.css
  app/react-19/src/App.tsx
  app/react-19/src/index.css
  biome.json
  e2e/demos/react-e2e-demo/src/App.css
  e2e/demos/react-e2e-demo/src/components/TestCore.tsx
  e2e/demos/react-e2e-demo/src/index.css
  package.json
  packages/core/package.json
  packages/core/rollups/esm.rollup.mjs
  packages/react/package.json
  packages/react/rollups/esm.rollup.mjs
  packages/shared/package.json
  packages/web/package.json
  packages/web/rollups/esm.rollup.mjs
  pnpm-lock.yaml
  utils/rollup/bin/index.js
  utils/rollup/src/index.js
Due: prettier --parser json --write

build(architecture): :package: upgrade rollup nx and changesets
  docs/toolkit.md
  package.json
  packages/core/package.json
  packages/react/package.json
  packages/web/package.json
  pnpm-lock.yaml
Due: prettier --parser markdown --write, prettier --parser json --write

chore(architecture): :hammer: update typescript to latest
  package.json
Due: prettier --parser json --write

feat(changesets): :sparkles: new package
  .changeset/config.json
  commitlint.config.js
  pnpm-lock.yaml
  utils/changesets/CHANGELOG.md
  utils/changesets/README.md
  utils/changesets/package.json
  utils/changesets/src/bin/changeset_publish.js
  utils/changesets/src/bin/changeset_version.js
  utils/changesets/src/bin/set_private.js
  utils/changesets/src/changelog.js
  utils/changesets/src/commit.js
  utils/changesets/src/helper.js
Due: prettier --parser markdown --write, prettier --parser json --write

chore(changesets): :hammer: update commit script
  utils/changesets/src/commit.js
Due: none

chore(architecture): :hammer: remove md from lintstage
  .lintstagedrc.json
Due: prettier --parser json --write

chore(changeset): 🦋 @mono/changesets:patch
  .changeset/slick-dogs-boil.md
Due: prettier --parser markdown --write

chore(changesets): :hammer: change js to ts
  .gitignore
  commitlint.config.js
  pnpm-lock.yaml
  utils/changesets/package.json
  utils/changesets/src/commit.js
  utils/changesets/src/commit.ts
  utils/changesets/src/helper.js
  utils/changesets/src/helper.ts
  utils/changesets/tsconfig.json
Due: prettier --parser json --write

feat(changesets): :sparkles: update changeset config
  .changeset/config.json
  .changeset/slick-dogs-boil.md
  .gitignore
  utils/changesets/package.json
  utils/changesets/src/commit.ts
  utils/changesets/tsconfig.json
Due: prettier --parser markdown --write, prettier --parser json --write

feat(changesets): :sparkles: change changelog.js to changelog.ts
  .changeset/config.json
  utils/changesets/src/changelog.ts
  utils/changesets/src/commit.ts
Due: prettier --parser json --write

chore(changeset): 🦋 @mono/changesets:patch
  .changeset/famous-keys-repair.md
Due: prettier --parser markdown --write

chore(changeset): 🦋 @mono/changesets:0.0.1->0.0.2
  .changeset/famous-keys-repair.md
  utils/changesets/CHANGELOG.md
  utils/changesets/package.json
Due: prettier --parser markdown --write, prettier --parser json --write

build(changesets): :package: update changelog.ts
  utils/changesets/CHANGELOG.md
  utils/changesets/src/changelog.ts
  utils/changesets/src/helper.ts
Due: prettier --parser markdown --write
